.balance-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .p-col {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
  }
  
  .amount {
    font-weight: bold;
    color: #007bff; /* Adjust color as needed */
  }
  
  svg {
    width: 35px;
    height: 20px;
  }

  :host ::ng-deep .p-card-content{
    padding: 0;
  }

  :host ::ng-deep .p-card-body {
    margin-bottom: 10px;
  }
  