<p-card [style]="{ 'border-radius': '10px' }">
  <div class="balance-item">
    <div class="p-grid">
      <div class="p-col member">
        Member A
      </div>
      <div class="p-col divider">
        <svg width="80" height="2" viewBox="0 0 80 2" fill="none" xmlns="http://www.w3.org/2000/svg">
          <line x1="0" y1="1" x2="80" y2="1" stroke="#333" stroke-width="2"/>
        </svg>
      </div>
      <div class="p-col amount">
        100.00 $
      </div>
      <div class="p-col arrow">
        <svg width="30" height="20" viewBox="0 0 30 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.5 9.5H29.5" stroke="#333" stroke-width="2"/>
          <path d="M24.5 5.5L30 9.5L24.5 13.5" stroke="#333" stroke-width="2"/>
        </svg>
      </div>
      <div class="p-col member">
        Member B
      </div>
    </div>
  </div>
</p-card>
